<%= form_for comment, url: comments_path do |f| %>
<%= f.hidden_field :song_id, :value => song.id %>
<%= f.text_field :content, placeholder:"コメントを入力", class:"comment-form" %>
<%= f.submit "コメント", class:"btn comment-btn"  %>
<% end %>
<% comments.each do |comment| %>
  <%= link_to user_path(comment.user) do %>
    <%= image_tag comment.user.profile_image.to_s, class:"header-profile" %>
    <p class="name"><%= comment.user.name %></p>
  <% end %>
  <div class="comment-text">
    <p><%= comment.content %></p>
    <% if current_user.my_comment?(comment) %>
      <%= button_to "削除", comment_path(comment), method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
<% end %>
