<div id="message_list<%= ms.id %>">
   <% if ms.user %>
  <%= image_tag ms.user.profile_image.to_s, class:"header-profile" %>
  <p class="name"><%= ms.user.name %></p>
  <% elsif ms.instructor %>
    <%= image_tag ms.instructor.profile_image.to_s, class:"header-profile" %>
    <p class="name"><%= ms.instructor.name %></p>
  <% end %>
  <div class="comment-text">
    <p class="message"><%= ms.message %></p>
    <% if (user_signed_in? and current_user.my_message?(ms)) or (instructor_signed_in? and current_instructor.my_message?(ms)) %>
      <%= form_for ms, url: advise_chat_path(ms), method: :delete, remote: true do |f| %>
        <%= f.hidden_field :practice_id, :value => practice.id %>
        <%= f.submit "削除", class:"btn btn-danger"%>
      <% end %>
    <% end %>
  </div>
</div>
