<div class="nav list-gruop text-center">
  <%= link_to user_path(current_user),class:"list-group-item list-group-item-action list-color" do %>
    <p>ユーザー情報</p>
  <% end %>

  <%= link_to edit_user_path(current_user),class:"list-group-item list-group-item-action list-color" do %>
    <p>プロフィール編集</p>
  <% end %>

  <%= link_to song_my_list_path(user),class:"list-group-item list-group-item-action list-color" do %>
    <p>投稿一覧</p>
  <% end %>

  <%= link_to like_my_list_path(user), class:"list-group-item list-group-item-action list-color" do %>
    <p>いいねした投稿</p>
  <% end %>

  <%= link_to practice_my_list_path(user),class:"list-group-item list-group-item-action list-color" do %>
    <p>トレーニング投稿一覧</p>
  <% end %>

  <%= link_to destroy_user_session_path, method: :delete, class:"list-group-item list-group-item-action list-color" do %>
    <p>ログアウト</p>
  <% end %>
</div>
