<div class="nav list-gruop text-center">
  <%= link_to user_path(user) do %>
    <div class="list-group-item list-group-item-action list-color <%= "visit-page" if current_page?(user_path) %> ">
      <p>ユーザー情報</p>
    </div>
  <% end %>

  <% if user == current_user %>
    <%= link_to edit_user_path(current_user) do %>
      <div class="list-group-item list-group-item-action list-color <%= "visit-page" if current_page?(edit_user_path) %>">
        <p>プロフィール編集</p>
      </div>
    <% end %>
  <% end %>

    <%= link_to song_my_list_path(user) do %>
      <div class="list-group-item list-group-item-action list-color <%= "visit-page" if current_page?(song_my_list_path) %>">
        <p>投稿一覧</p>
      </div>
    <% end %>

    <%= link_to like_my_list_path(user) do %>
      <div class="list-group-item list-group-item-action list-color <%= "visit-page" if current_page?(like_my_list_path) %>">
        <p>いいねした投稿</p>
      </div>
    <% end %>

    <%= link_to practice_my_list_path(user) do %>
      <div class="list-group-item list-group-item-action list-color <%= "visit-page" if current_page?(practice_my_list_path) %>">
        <p>トレーニング投稿一覧</p>
      </div>
    <% end %>

  <% if user == current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class="list-group-item list-group-item-action list-color">
        <p>ログアウト</p>
      </div>
    <% end %>
  <% end %>
</div>
