<div class="top-profile">
  <%= image_tag user.profile_image.to_s, size: "100x100", class:"profile-image" %>
    <div>
      <h3><%= user.name %></h3>
      <div class="fl">
        <p>フォロー <%= link_to "#{user.relationships.count}", follows_path(user) %></p>
        <p>フォロワー <%= link_to "#{user.followers.count}", followers_path(user) %></p>
      </div>
    </div>
    <div class="fl-btn">
      <%= render 'relationships/follow_button', user: @user, relation: @relation, follow: @new_follow %>
    </div>
</div>
<hr>
