<div class="container-fluid">
  <div class="row">
    <div class="offset-1 col-4">
      <%= render "sidebar", user: @user %>
    </div>
    <div class="col-7">
      <div class="user-edit-box">
        <%= form_for @user do |f| %>
        <%= image_tag @user.profile_image.to_s, size:'200x200', class:"profile-image form-group" %>
        <div class="form-group">
          <label for="file_upload" class="btn btn-secondary user-edit-btn">
          <p>プロフィール画像</p>
          <%= f.file_field :profile_image, id:"file_upload" %>
          </label>
        </div>
        <div class="form-group">
          <p>ユーザー名</p>
          <%= f.text_field :name, autocomplete:"off", class:"form-control" %>
        </div>
        <div class="form-group">
          <p>自己紹介文</p>
          <%= f.text_area :description, class:"form-control", style:"height:150px;" %>
        </div>
          <%= f.submit "プロフィール保存", class:"btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
