<div class="container">
  <div class="row">
    <div class="offset-1 col-10 song-form">
      <%= form_for @song do |f| %>
      <div class="blur-back ml-0" style="background-image: url('<%= @song.thumbnail.url %>');">
          <div class="main">
            <%= image_tag @song.thumbnail.to_s, style:"width:100%;" %>
          </div>
          <div class="change">
            <label for="edit_song_image_upload" class="btn form-btn">
              <p>サムネイル画像変更</p>
              <%= f.file_field :thumbnail, id:"edit_song_image_upload" %>
            </label>
            <label for="edit_song_file_upload" class="btn form-btn" >
              <p>ファイル選択(mp3)</p>
              <%= f.file_field :voice, id:"edit_song_file_upload" %>
              </label>
          </div>
      </div>
        <div class="form-group">
          <p>タイトル</p>
          <%= f.text_field :title, class:"form-control", autocomplete: 'off'%>
        </div>
        <div class="form-group">
          <p>説明文</p>
          <%= f.text_area :description, class:"form-control form" %>
        </div>
        <%= render 'practices/delete-confirm', f:f, song: @song %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'delete-modal.js' %>
