<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 side">
      <%= render "users/sidebar", user: @user %>
    </div>
    <div class="col-md-7">
      <%= render 'users/top-profile', user: @user %>
      <%= render 'users/user_menu', user: @user %>
      <div class="row">
      <% @song.each do |song| %>
        <div class="col-lg-4 offset-lg-0 offset-md-0 col-md-6 col-sm-6 offset-sm-3 offset-1 col-10">
        <%= link_to song_path(song) do %>
          <div class="song-card">
            <%= image_tag song.thumbnail.to_s, class:"thumbnail" %>
            <div class="card-body">
              <%= song.title %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
  </div>
</div>
</div>

