<div class="container-fluid">
  <div class="row">
    <div class="col text-center align-items-center">
      <%= form_for @song do |f|%> 
        <div class="form-group">
          <%= f.text_field :title, placeholder:"タイトル", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "説明文", class:"form-control form" %>
        </div>
        <div class="form-group">
          <label for="file_image_upload" class="btn form-btn" >
            <p>サムネイル画像選択</p>
            <%= f.file_field :thumbnail, id:"file_image_upload" %>
          </label>
        </div>
        <%= f.submit "アップロード", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
