<div class="container-fluid">
      <div class="blur-back show-back" style="background-image: url('<%= @song.thumbnail.to_s %>'); display: none;">
        <div class="main">
          <%= image_tag @song.thumbnail.to_s, style:"width:100%;", id:"prev-thumb"%>
        </div>
        <%= audio_tag "",class:"audio-group" %>
        </div>
  <div class="row">
    <div class="post-form col-md-6 offset-md-3 col-sm-8 offset-sm-2">
      <%= form_for @song do |f|%> 
        <div class="form-group">
          <%= f.text_field :title, placeholder:"タイトル", autocomplete: "off", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "説明文", class:"form-control form" %>
        </div>
        <!--スマホのみ表示-->
        <div class="form-group responsive-voice">
          <label for="file_upload" class="btn form-btn">
            <p>ファイルを選択(mp3)</p>
            <%= f.file_field :voice, id:"file_upload"%>
          </label>
        </div>
        <div class="back">
            <div class="form-group voice-drop modal-box" id="song-modal">
              <%= f.label :voice,"mp3ファイルを選択もしくはドラッグアンドドロップしてください", class:"btn btn-form" %>
              <%= f.file_field :voice, class:"dropzone btn upload-audio", id:"upload-dropzone" %>
              <div class="new-song-btn">
                <p><%= link_to "キャンセル", songs_path, class:"btn btn-danger btn-block" %></p>
                <p id="next" class="btn btn-primary">次へ進む</p>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="file_image_upload" class="btn form-btn">
            <p>サムネイル画像選択</p>
            <%= f.file_field :thumbnail, id:"file_image_upload" %>
          </label>
        </div>
        <%= f.submit "アップロード", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'thumbnail-change.js'%>
<%= javascript_include_tag 'modal-new.js'%>
<%= javascript_include_tag 'dropzone.js'%>



    
