<div class="search">
<%= render 'layouts/search' %>
</div>
<div class="container-fluid">
  <div class="column-select-box">
    <a href="<%= songs_path %>" class="<%= "column-type" if current_page?(songs_path)%>"><h4>新着順</h4></a>
    <a href="<%= songs_rank_path %>" class="<%= "column-type" if current_page?(songs_rank_path)%>"><h4>ランキング</h4></a>
  </div>
  <div class="row contents">
    <% @all_ranks.each.with_index(1) do |song, i| %>
      <%= link_to song_path(song) do %>
        <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8 rank-card">
          <h2>第<%= i %>位</h2>
          <div class="song-card">
            <%= image_tag song.thumbnail.to_s, class:"rank-thumbnail" %>
            <div class="card-body">
              <h5><%= song.title %></h5>
              <div class="user-card">
                <%= link_to user_path(song.user) do %>
                  <%= image_tag song.user.profile_image.to_s, class:"post-profile" %>
                  <p class="user-name"><%= song.user.name %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

