<div class="container">
  <div class="row">
    <div class="offset-1">
      <!--投稿された歌 -->
      <%= image_tag @song.thumbnail.to_s, :size =>"500x300"%>
      <%= audio_tag(@song.voice) %>
      <%= @song.title %>
      <%= @song.description %>
      <!--いいね機能 -->
      <div id="like_buttons_<%= @song.id %>">
        <%= render 'likes/likes', song: @song %>
      </div>

      <!--投稿したユーザー-->
      <%= link_to user_path(@user) do %>
      <div class="channel">
      <%= image_tag @user.profile_image.to_s, size:"60x60", class:"user-profile profile-image" %>
      <%= @user.name %>
      </div>
      <% end %>
      <!--コメント欄-->
      <%= render 'comments/comments', song: @song, comment: @comment, comments: @comments%>
    </div>
  </div>
</div>


