<div class="container-fluid">
  <div class="row">
    <div class="user-form card">
      <h1>インストラクターアカウント作成</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :login_id %>
          <%= f.text_field :login_id, autofocus: true, autocomplete: "login" %>
        </div>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（６文字以上）" %>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class:"btn btn-primary", style:"width:40%"%>
        </div>
      <% end %>

      <%= render "instructors/shared/links" %>
    </div>
  </div>
</div>
