<div class="container">
  <div class="row">
    <div class="offset-1 song-form">
      <%= form_for @practice do |f| %>
        <%= video_tag @practice.video.to_s %>
        <div class="form-group">
          <label for="file_pra_upload" class="btn form-btn" >
            <p class="form-p">ファイルを選択(mp4)</p>
            <%= f.file_field :video, id:"file_pra_upload" %>
          </label>
        </div>
        <div class="form-group">
          <p>タイトル</p>
          <%= f.text_field :title, class:"form-control", autocomplete: 'off'%>
        </div>
        <div class="form-group">
          <p>説明文</p>
          <%= f.text_area :description, class:"form-control form" %>
        </div>
        <%= render 'delete-confirm', f:f, practice: @practice %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'delete-modal.js' %>
