<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 side">
      <%= render "users/sidebar", user: @user %>
    </div>
    <div class="col-md-8">
      <%= render 'users/top-profile', user: @user %>
      <%= render 'users/user_menu', user: @user %>
      <div class="row">
      <% @practices.each do |practice| %>
        <div class="col-md-6 offset-md-0 col-10 offset-1">
          <%= link_to practice_path(practice) do %>
          <div class="song-card">
            <%= video_tag practice.video_url.to_s, style:"width:100%;" %>
            <div class="card-body">
              <p class="pra-title"><%= practice.title %></p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
 