<div class="container">
  <div class="row">
    <div class="col text-center align-items-center">
      <%= form_for @practice do |f|%>
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :description, "説明文" %>
          <%= f.text_area :description %>
        </div>
        <div class="form-group">
          <%= f.file_field :video %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
