<div class="container">
  <div class="row">
    <div class="col text-center align-items-center">
      <%= form_for @practice do |f|%>
        <div class="form-group">
          <%= f.text_field :title, placeholder:"タイトル", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder:"改善したいところ・実現したいことなど", class:"form-control form" %>
        </div>
        <div class="form-group">
          <label for="file_upload" class="btn form-btn" >
            <p class="form-p">ファイルを選択(mp4)</p>
            <%= f.file_field :video, id:"file_upload" %>
          </label>
        </div>
        <%= f.submit "アップロード", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
