<div class="video-box">
  <%= video_tag @practice.video.to_s, controls: true, class:"video" %>
  <h3 class="pra-title"><%= @practice.title %></h3>
  <hr>
  <%= render 'users/channel', user: @user %>
  <p class="post-description"><%= @practice.description %></p>
  <hr>
  <%= link_to "投稿を編集する", edit_practice_path(@practice), class:"btn btn-primary btn-block" %>
</div>
<div class="pra-comment-box">
  <div id="advise-form">
    <%= render 'advise_chat/form', message: @message, practice: @practice %>
  </div>
  <div id="advise-index">
    <% @messages.each do |message| %>
      <%= render 'advise_chat/message', ms: message, practice: @practice %>
    <% end %>
  </div>
</div>

