<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <%= render 'layouts/flash_message'%>
    <div class="<%= "background-image" if devise_controller? or current_page?(root_path) %>">
      <header>
        <%= render "/layouts/header" %>
      </header>
      <% if @error %>
      <%= render 'layouts/error_message', model: @error %>
      <% end %>
      <%= yield %>
      <%= render 'songs/record'%>
    </div>
  </body>
</html>
